@use 'font' as font;

:host {
  display: grid;
  row-gap: var(--cd-spacing-3);
  padding: var(--cd-spacing-3);
  border-top: 1px solid var(--cd-border-color);
}

.actions {
  display: grid;
  grid-template-columns: min-content min-content;
  column-gap: var(--cd-spacing-2);
  justify-content: end;
}

button {
  justify-self: end;
}

textarea {
  @include font.cd-font(body2);

  color: var(--cd-font-color);
  padding: var(--cd-spacing-2);

  &::placeholder {
    color: inherit;
    opacity: 0.6;
  }
}

.editing {
  position: relative;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: var(--cd-outline);
    border-radius: var(--cd-border-radius-1);
    content: '';
  }

  &:focus:after {
    border-color: transparent;
  }
}
