@use 'states' as states;

.marquee {
  text-rendering: optimizeSpeed;
  fill: rgba(128, 128, 128, 0.05);
  stroke: rgba(128, 128, 128, 0.2);

  @include states.for-desktop-hidpi {
    shape-rendering: optimizeSpeed;
  }
}

:host.create-board .marquee {
  stroke: var(--cd-primary-color);
  fill: var(--cd-focus-fill);
}

.peer-marquee {
  text-rendering: optimizeSpeed;

  @include states.for-desktop-hidpi {
    shape-rendering: optimizeSpeed;
  }
}
