@use 'states' as states;

.outlet-frame,
.element {
  buffered-rendering: dynamic;
  text-rendering: optimizeSpeed;
  pointer-events: fill;
  fill: transparent;
  stroke: transparent;
  visibility: hidden;

  @include states.for-desktop-hidpi {
    shape-rendering: optimizeSpeed;
  }
}

:host.debug {
  .outlet-frame,
  .element {
    fill: rgba(217, 253, 205, 0.15);
    stroke: rgba(25, 151, 73, 0.75);
    visibility: visible;
  }
}
