@use 'states' as states;

.grid-rect {
  pointer-events: none;
  fill: transparent;
  stroke-dasharray: 6 2;
  stroke: var(--cd-glass-color);
  vector-effect: non-scaling-stroke;
  stroke-width: 1px;
  text-rendering: optimizeSpeed;

  @include states.for-desktop-hidpi {
    shape-rendering: optimizeSpeed;
  }
}

.hover {
  fill: var(--cd-active-fill);
}

.parent {
  opacity: 0.35;
}
