@use 'states' as states;
@use 'cssvars' as *;

.line {
  stroke: cssvar(guide-line-color);
  vector-effect: non-scaling-stroke;
  text-rendering: optimizeSpeed;
  stroke-width: 1.5px;

  @include states.for-desktop-hidpi {
    shape-rendering: optimizeSpeed;
  }
}
