@use 'font' as font;

:host {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: start;
  height: 100%;
}

.card-grid {
  display: grid;
  gap: var(--cd-spacing-3);
  padding: var(--cd-spacing-3);
  padding-top: 0;
}

.title {
  @include font.cd-font(overline);
  @include font.cd-font-overflow-ellipsis;
}

.help-ico {
  --cd-size-0: 12px;
  --cd-size-3: 18px;

  opacity: 0.8;
}

.left {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  gap: var(--cd-spacing-0);
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  flex: 1;
  overflow: hidden;
  opacity: 1;
  height: fit-content;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  top: 0;
  user-select: none;
  align-items: center;
  height: var(--cd-size-5);
  padding: 0 var(--cd-spacing-3);
  padding-right: var(--cd-spacing-2);
  cursor: default;
  background: var(--cd-sidebar-color);
  z-index: 2;

  .right {
    display: grid;
    grid-template-columns: auto auto;
    gap: var(--cd-spacing-0);
  }
}

.multi-select {
  padding: var(--cd-spacing-3);
  display: block;
  line-height: 1.4;
}
