svg {
  width: 100%;
  height: 100%;
  contain: strict;
}

.hide {
  visibility: hidden;
}

:host {
  position: absolute;
  background: transparent;
  width: 100%;
  height: 100%;
  z-index: 8;
  user-select: none;
  contain: strict;
  pointer-events: none;
}

:host.grab::after {
  content: '';
  position: absolute;
  pointer-events: all;
  background: transparent;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
