@use 'font' as font;

.search {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  height: var(--cd-size-4);
  padding: 0 var(--cd-spacing-1);
}

.list {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-ico {
  opacity: 0.6;
  padding-right: var(--cd-spacing-1);
}

.list-item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--cd-spacing-3);
  padding: var(--cd-spacing-2);
  overflow: hidden;
  cursor: pointer;
  outline: none;

  &:hover,
  &.active {
    background: var(--cd-menu-hover);
  }

  img {
    width: var(--cd-size-4);
    height: var(--cd-size-4);
    object-fit: cover;
    border-radius: 50%;
  }

  .name {
    font-family: var(--cd-header-font);
    font-size: 13.5px;

    @include font.cd-font-overflow-ellipsis;
  }

  .email {
    opacity: 0.67;

    @include font.cd-font-overflow-ellipsis;

    font-size: 11px;
  }

  section {
    overflow: hidden;
    display: grid;
    gap: 2px;
  }
}
