@use 'font' as font;
@use '../shared.scss';

$filterBarBackgroundTiming: 100ms;

:host {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
}

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid var(--cd-border-color);
  color: var(--cd-font-color);
  overflow: hidden;
  white-space: nowrap;
  padding-right: var(--cd-spacing-1);
  gap: var(--cd-spacing-0);
}

.section-header {
  display: grid;
  grid-template-columns: 1fr auto;
  position: sticky;
  align-items: center;
  top: 0;
  z-index: 1;
  padding: 0 var(--cd-spacing-3);
  height: var(--cd-size-4);
  background-color: var(--cd-modal-background-color);
}

.section-header-text {
  @include font.cd-font(overline);
  @include font.cd-font-overflow-ellipsis;
}

.section-count {
  opacity: 0.5;
  font-size: 12px;
}

.components-list {
  padding-bottom: var(--cd-spacing-2);
}

.component-item-wrapper {
  padding: 0 var(--cd-spacing-2);
  outline: none;

  &:hover {
    background: var(--cd-menu-hover);
  }

  &:focus {
    color: var(--cd-primary-color);
    background-color: var(--cd-focus-fill);
  }
}

.component-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--cd-spacing-2);
  align-items: center;
  border-radius: var(--cd-border-radius-1);
  cursor: pointer;
  overflow: hidden;
  height: var(--cd-size-4);
  padding-left: var(--cd-spacing-0);
}

.img {
  width: var(--cd-size-0);
  height: var(--cd-size-0);
  object-fit: contain;
}

.component-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
