@use 'states' as states;

:host {
  buffered-rendering: dynamic;
  pointer-events: none;
}

.hover,
.outlet-frame {
  pointer-events: none;
  fill: none;
  stroke: var(--cd-glass-color);
  vector-effect: non-scaling-stroke;
  stroke-width: 2.5px;
  text-rendering: optimizeSpeed;

  @include states.for-desktop-hidpi {
    shape-rendering: optimizeSpeed;
  }
}

.outlet-frame {
  stroke-width: 2px;
  opacity: 0.3;
}
