@use 'font' as font;
@use 'components/chip' as chip;

:host {
  @include font.cd-font(taggable-text-field-text);

  padding: var(--cd-spacing-3);
  white-space: pre-wrap;
  color: var(--cd-font-color);
  user-select: text;
}

section {
  word-break: break-word;
}

.chip {
  @include chip.chip-base;
  @include font.cd-font(taggable-text-field-chip);

  height: 20px;
  padding: 0 var(--cd-spacing-1);
  margin-right: var(--cd-spacing-0);
  min-width: fit-content;
  white-space: nowrap;
}
