@use 'states' as states;

$strokeWidth: 8;

.top,
.bottom {
  cursor: ns-resize;
}

.right,
.left {
  cursor: ew-resize;
}

.top-left,
.bottom-right {
  cursor: nwse-resize;
}

.top-right,
.bottom-left {
  cursor: nesw-resize;
}

.handle {
  stroke: transparent;
  stroke-width: $strokeWidth;
  vector-effect: non-scaling-stroke;
  text-rendering: optimizeSpeed;
  pointer-events: stroke;
  fill: transparent;
  visibility: hidden;

  @include states.for-desktop-hidpi {
    shape-rendering: optimizeSpeed;
  }
}

.anchor {
  fill: #f8f9fa;
  stroke: var(--cd-glass-color);
  vector-effect: non-scaling-stroke;
  text-rendering: optimizeSpeed;
  stroke-width: 1.5px;

  &.active {
    fill: var(--cd-glass-color);
  }
}

.hidden {
  pointer-events: all;
  fill: transparent;
  visibility: hidden;
  vector-effect: non-scaling-stroke;
  stroke: transparent;
  stroke-width: 8;

  @include states.for-desktop-hidpi {
    shape-rendering: optimizeSpeed;
  }
}

:host.debug {
  .handle,
  .hidden {
    stroke: rgba(255, 0, 0, 0.5);
    visibility: visible;
  }
}
