@use 'font' as font;

:host {
  display: contents;
}

.wrapper {
  display: grid;
  gap: var(--cd-spacing-0);
}

.item {
  display: flex;
  height: 100%;
  align-items: center;
}

.text {
  @include font.cd-font-overflow-ellipsis;
}

.text-missing {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  justify-content: start;
  gap: var(--cd-spacing-2);
}

.edit {
  display: none;
}

.item:hover .edit,
.show.edit {
  display: block;
}

.icon {
  padding-right: var(--cd-spacing-0);
  transform: scale(0.9);
}

.dim {
  opacity: 0.5;
}

.list-item {
  transition: opacity 200ms ease-out;
}

.container {
  padding-left: var(--cd-spacing-0);
  color: var(--cd-font-color);
  display: grid;
  flex: 1;
  grid-template-columns: 1fr auto;
  align-items: center;
  cursor: pointer;
  overflow: hidden;

  &.has-icon {
    grid-template-columns: auto 1fr auto;
  }

  &.disabled {
    .text,
    .icon {
      opacity: 0.5;
    }
  }
}
