@use 'font' as font;
@use 'components/chip' as chip;

.text-field-wrapper {
  position: relative;
  width: 100%;
}

.placeholder {
  @include font.cd-font(taggable-text-field-text);

  position: absolute;
  top: var(--cd-spacing-1);
  left: var(--cd-spacing-3);
  opacity: 0.7;
  font-style: italic;
}

.text-field {
  @include font.cd-font(taggable-text-field-text);

  position: relative;
  min-height: 2rem;
  padding: var(--cd-spacing-1) var(--cd-spacing-3);
  border-radius: var(--cd-border-radius-1);
  white-space: pre-wrap;
  word-break: break-word;
  user-select: text;
  z-index: 2;
  outline: none;
  cursor: text;

  &:focus {
    box-shadow: var(--cd-outline-focus);
  }
}
