@use 'font' as font;

:host {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  overflow: hidden;
  padding-right: var(--cd-spacing-4);
  height: var(--cd-header-height);
  padding-bottom: var(--cd-spacing-2);
}

h2 {
  @include font.cd-font-overflow-ellipsis;

  font-size: 17px;
  margin: 0;
  padding: 0;
  padding-left: 2px;
}
