@use 'font' as font;

$editing-outline-width: 2px;
$label-size: minmax(74px, 20%);
$type-ramp-item-margin-amount: 10px;

:host {
  display: block;
  margin-right: var(--cd-spacing-4);
}

header.title {
  margin-bottom: var(--cd-spacing-2);

  @include font.cd-font(overline);
}

.ramp-list {
  padding: 0;
  margin: 0;
  display: grid;
  gap: 4px;
  margin-bottom: var(--cd-spacing-2);
}

.type-ramp-item button {
  display: none;
}

.type-ramp-item {
  gap: 2px;
  display: grid;
  cursor: pointer;
  position: relative;
  align-items: center;
  grid-template-columns: $label-size 1fr;
  height: var(--cd-size-3);
  transition: opacity 200ms ease-out;

  &:hover {
    grid-template-columns: $label-size 1fr var(--cd-size-3);

    button {
      display: block;
    }
  }

  &.editing::before {
    opacity: 1;
  }

  &.dim {
    opacity: 0.5;
    box-shadow: 0;
  }
}

.value {
  display: grid;
  grid-template-columns: auto;
  gap: 2px;
  align-items: center;
  font-size: 1.083rem;
  line-height: 1.5rem;
  padding-left: var(--cd-spacing-2);
}

.label,
.value span {
  @include font.cd-font-overflow-ellipsis;
}

.label {
  @include font.cd-font(caption);

  font-weight: 500;
}
