@use 'font' as font;

$chip-margin: 0 var(--cd-spacing-2) var(--cd-spacing-2) 0;

@mixin chip-shape {
  display: inline-grid;
  align-items: center;
  height: var(--cd-size-3);
  max-width: 120px;
  grid-template-columns: 1fr auto;
  box-shadow: var(--cd-outline);
  border-radius: var(--cd-spacing-3);
  box-sizing: border-box;
}

:host {
  display: block;
  margin-right: var(--cd-spacing-3);
  margin-bottom: var(--cd-spacing-2);
}

header.title {
  @include font.cd-font(overline);

  margin-bottom: var(--cd-spacing-2);
}

.chip-set {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  & > div,
  & > button {
    margin: $chip-margin;
  }
}

.font-family-chip {
  @include chip-shape;

  font-family: var(--cd-header-font);
  flex-basis: 36%;
  flex-grow: 1;
  max-width: fit-content;

  span {
    padding: 0 var(--cd-spacing-2);

    @include font.cd-font-overflow-ellipsis;
  }
}

.locked {
  cursor: not-allowed;
  margin-left: calc(var(--cd-spacing-2) * -1);
  width: var(--cd-size-3);
  display: inline-grid;
  align-items: center;
}

.remove-chip-btn {
  outline: none;
  position: relative;
  cursor: pointer;
  align-items: center;
  background: transparent;
  border: none;
  color: var(--cd-font-color);
  font-weight: 500;
  height: var(--cd-size-3);
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-left: calc(var(--cd-spacing-2) * -1);
  width: var(--cd-size-3);
  display: inline-flex;

  &::before {
    content: '';
    background: var(--cd-focus-fill);
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    opacity: 0;
  }

  &:focus {
    color: var(--cd-primary-color);

    &::before {
      opacity: 1;
    }
  }
}
