@use 'font' as font;

.header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  position: sticky;
  top: 0;
  user-select: none;
  align-items: center;
  height: var(--cd-size-5);
  padding-left: var(--cd-spacing-3);
  padding-right: var(--cd-spacing-2);
  cursor: default;
  background: var(--cd-sidebar-color);
  z-index: 2;
}

.title {
  @include font.cd-font(overline);
  @include font.cd-font-overflow-ellipsis;
}

.cards-wrapper {
  padding: 0 var(--cd-spacing-3);
  display: grid;
  gap: var(--cd-spacing-3);
}

.zero-state-container {
  padding: var(--cd-spacing-5) 0;
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  .center {
    display: grid;
    justify-items: center;
    gap: var(--cd-spacing-4);
  }

  span {
    line-height: 1.5em;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--cd-spacing-6);
    overflow: hidden;
    box-sizing: border-box;
  }
}
