@use 'font' as font;

.text {
  @include font.cd-font-overflow-ellipsis;

  display: inline-block;
  outline: none;
  padding-left: 0.3em;
  padding-bottom: 0.3em;
  font-family: var(--cd-header-font);

  &:focus {
    text-overflow: clip;
  }

  &::selection {
    background: var(--cd-focus-fill);
  }

  &.debug::after {
    content: ' ( ' attr(data-debug) ' )';
    padding-left: 0.3em;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: end;
  position: absolute;
  width: 100%;
  padding-bottom: 0.24em;
  contain: content;
  bottom: 0;
}

:host {
  z-index: 2;
  padding: 0;
  font-size: var(--font-size);
  position: fixed;
  box-sizing: border-box;
  user-select: none;

  &.selected {
    color: var(--cd-primary-color);
  }

  &:not(.selected):hover .text {
    --cd-font-color: var(--cd-primary-color);

    color: var(--cd-primary-color);
    opacity: 0.8;
  }
}

.left {
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  flex: 1;
}

.comment-count {
  color: var(--cd-font-color);
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: flex-end;
  transform: translate3d(0, 0, 0);
  cursor: pointer;
}
