@use 'font' as font;

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 192px;
  background: var(--cd-modal-background-color);
  border-radius: var(--cd-border-radius-3);
  box-shadow: var(--cd-depth-6);
}

.header {
  padding: var(--cd-spacing-3);
  gap: var(--cd-spacing-0);
  display: grid;
}

.title {
  -webkit-font-smoothing: antialiased;
  font-size: var(--cd-font-size-h3);

  @include font.cd-font-overflow-ellipsis;
}

.desc {
  font-size: 11px;
  font-family: var(--cd-body-font);
  font-weight: 400;
  opacity: 0.8;
  display: block;

  .value {
    opacity: 0.8;

    &::before {
      content: '→';
      padding: 0 2px;
    }
  }
}

.content {
  display: grid;
  gap: var(--cd-spacing-2);
  padding-bottom: var(--cd-spacing-3);

  // Overrides cd-input-group label color
  --cd-input-group-left: 50px;
  // Overrides cd-input-group left grid column
  --cd-sidebar-color: transparent;
}
