@use 'states' as states;

:host {
  opacity: 0.8;
}

.line {
  stroke: var(--cd-action-color);
  text-rendering: optimizeSpeed;
  fill: none;

  &.active {
    stroke: var(--cd-glass-color);
  }
}

.hit-target-line {
  pointer-events: stroke;
  vector-effect: non-scaling-stroke;
  fill: transparent;
  stroke-width: 10;
  stroke: transparent;
  shape-rendering: optimizeSpeed;
  visibility: hidden;
}

.rect {
  pointer-events: none;
  fill: none;
  stroke: var(--cd-action-color);
  vector-effect: non-scaling-stroke;
  stroke-width: 1px;
  text-rendering: optimizeSpeed;

  @include states.for-desktop-hidpi {
    shape-rendering: optimizeSpeed;
  }
}
