@use 'font' as font;
@use 'components/chip' as chip;

:host {
  @include chip.chip-base;
  @include font.cd-font(taggable-text-field-chip);

  min-width: fit-content;
  height: 20px;
  padding: 0 var(--cd-spacing-2);
  margin-right: var(--cd-spacing-0);
  white-space: nowrap;
  user-select: text;
}
