@use 'font' as font;

$transitionSpeed: 185ms;

:host {
  border-radius: var(--cd-border-radius-3);
  border: 1px solid var(--cd-outline-color);
  user-select: none;
  display: grid;
  contain: layout;
  background-color: var(--cd-sidebar-color);
}

.header-line {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--cd-spacing-0);
  align-items: center;
  padding: var(--cd-spacing-1) var(--cd-spacing-3);
}

.header-text {
  font-family: var(--cd-header-font);
  font-weight: 500;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;

  @include font.cd-font-overflow-ellipsis;
}

.unlabeled {
  opacity: 0.5;
  font-style: italic;
}

.fields {
  display: grid;
  gap: var(--cd-spacing-1);
  padding-bottom: var(--cd-spacing-3);
}
