@use 'states' as states;

:host {
  pointer-events: none;
}

.selection {
  pointer-events: none;
  fill: none;
  vector-effect: non-scaling-stroke;
  stroke-width: 1px;
  text-rendering: optimizeSpeed;

  @include states.for-desktop-hidpi {
    shape-rendering: optimizeSpeed;
  }

  &:not(.peer) {
    stroke: var(--cd-glass-color);
  }

  &.peer {
    stroke-width: 3px;
  }
}
