@use 'components/panel' as panel;

@include panel.survey-link-footer();

$panel-hz-padding: var(--cd-spacing-3);

:host {
  position: relative;
  height: 100%;
}

.panel-header {
  border-bottom: 1px solid var(--cd-border-color-light);
}

.title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--cd-spacing-3) var(--cd-spacing-3) 0;
}

.checkbox-with-help {
  --icon-color: var(--cd-font-color);

  display: flex;
  padding: 0 $panel-hz-padding;

  &.landmark {
    --icon-color: var(--cd-a11y-landmark-color);
  }

  &.heading {
    --icon-color: var(--cd-a11y-heading-color);
  }

  &.flow {
    --icon-color: var(--cd-a11y-flow-color);
  }
}

.checkbox-help-icon {
  margin-left: var(--cd-spacing-0);
  color: var(--icon-color);
}

.data-tree {
  display: inline;
  contain: content;
  padding: 0 var(--cd-spacing-2);
}

.element-a11y-info {
  padding: var(--cd-spacing-3);
}
