@use 'font' as font;

$size: 28px;

.title {
  margin-bottom: var(--cd-spacing-2);

  @include font.cd-font(overline);
}

.styles-list {
  display: grid;
  grid-template-rows: repeat(5, $size);
  row-gap: var(--cd-spacing-1);
  list-style-type: none;
  margin: 0;
  margin-bottom: var(--cd-spacing-3);
  padding: 0 var(--cd-spacing-4) 0 0;
}

.style-item {
  display: grid;
  align-items: center;
}

.icon-style-btn {
  font-size: 13px;
  font-family: var(--cd-header-font);
  -webkit-font-smoothing: antialiased;
  border: none;
  outline: none;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  height: $size;
  cursor: pointer;
  border-radius: $size;
  color: var(--cd-font-color);
  background: transparent;
  transition: background-color 120ms ease-out, color 120ms ease-out;

  &:focus {
    background: var(--cd-focus-fill);
  }

  &:hover {
    background: var(--cd-hover-fill);
  }
}

.active .icon-style-btn {
  background: var(--cd-focus-fill);
  color: var(--cd-primary-color);
}

.inner-button {
  display: grid;
  align-items: center;
  height: 100%;
  grid-template-columns: var(--cd-size-5) 1fr;
}

.icon-label {
  display: grid;
  align-items: center;
  font-weight: 500;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.preview-list {
  display: grid;
  gap: var(--cd-spacing-1);
  grid-auto-flow: column;
  align-items: center;
  list-style-type: none;
  max-width: 220px;
  padding: 0;

  li {
    justify-self: center;
  }
}
