@use 'font' as font;

.menu {
  visibility: hidden;

  &.active {
    visibility: visible;
  }
}

:host {
  list-style: none;
  display: grid;
  grid-template-columns: auto 1fr auto;
  height: var(--cd-size-3);
  align-items: center;
  overflow: hidden;
  padding: 0;
  cursor: pointer;

  &:hover .menu {
    visibility: visible;
  }
}

.item-input {
  @include font.cd-font-overflow-ellipsis;

  background: transparent;
  box-sizing: border-box;
  border-radius: var(--cd-border-radius-1);
  height: var(--cd-size-3);
  padding: 2px 4px;
  pointer-events: none;
  border: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  color: var(--cd-font-color);
  font-weight: 500;
  font-family: var(--cd-body-font);

  &:focus {
    pointer-events: initial;
    box-shadow: var(--cd-outline-focus);
  }
}
