@use 'states' as states;

@mixin rectDefaults() {
  pointer-events: none;
  fill: transparent;
  stroke: var(--cd-glass-color);
  vector-effect: non-scaling-stroke;
  text-rendering: optimizeSpeed;

  @include states.for-desktop-hidpi {
    shape-rendering: optimizeSpeed;
  }
}

.parent {
  @include rectDefaults;

  opacity: 0.42;
  stroke-width: 1px;
}

.drag {
  @include rectDefaults;

  opacity: 0.62;
  stroke-dasharray: 7 3;
  stroke-width: 2px;
  transition: opacity 100ms ease;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}
