/* You can add global styles to this file, and also import other style files */
@use 'cssvars' as cssvars;

@use 'normalize.css/normalize.css' as *;
@use './styles/themes/default' as *;
@use './styles/dnd-ghost' as *;
@use './styles/rich-text' as *;
@use './styles/tooltip' as *;
@use './styles/badge' as *;
@use './styles/keyframes' as *;
@use './styles/glass' as *;

h1,
h2,
h3,
h4,
h5 {
  font-family: cssvars.cssvar(header-font);
  font-size: cssvars.cssvar(font-size-h1);
  color: cssvars.cssvar(header-font-color);
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-size: cssvars.cssvar(font-size-h2);
}

html,
body {
  font-family: cssvars.cssvar(body-font);
  font-size: cssvars.cssvar(font-size-default);
  color: cssvars.cssvar(font-color);
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
}

// Chrome's native [hidden] rule is less than a class/style display value
[hidden] {
  display: none !important;
}

.disable-overscroll {
  overscroll-behavior-x: none;
}

::selection {
  color: cssvars.cssvar(header-font-color);
  background-color: cssvars.cssvar(active-fill);
}

a,
a:visited {
  color: cssvars.cssvar(primary-color);
}
