@use 'font' as font;

:host {
  display: grid;
  row-gap: var(--cd-spacing-0);
  border-top: 1px solid var(--cd-border-color);

  &:first-child {
    border-top: 0;
  }
}

.confirmation-actions {
  display: grid;
  row-gap: var(--cd-spacing-3);
  align-items: center;
  padding: var(--cd-spacing-3);
  background-color: var(--cd-focus-fill);
}

.first-comment {
  border-radius: var(--cd-border-radius-3) var(--cd-border-radius-3) 0 0;
}

.prompt {
  @include font.cd-font(body2);

  color: var(--cd-header-font-color);
  text-align: center;
}

.prompt-actions {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: var(--cd-spacing-2);
  justify-content: center;
}
